<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="icon" href="/assets/img/favicon.png" type="image/x-icon" />
       <!--- <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">-->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
        <script
        defer
        src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"
    ></script>
    <script
        defer
        src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"
    ></script>
    
    </head>
    <body class="bg-gray-900 font-sans leading-normal text-gray-800" x-data>
        {{ partial:nav }}
        {{ template_content }}
        {{ partial:footer }}
        <script src="{{ mix src='/js/site.js' }}"></script>
    </body>
</html>
