
<div class="grid-card">
	<div class="card_first">
		<h1 class="card_first_title">Våra uppdrag sträcker sig från kostnadseffektivt löpandeband till kompromisslös bildkonst. Var-, när- och hursom helst.</h1>
	</div>
	{{ collection:foto }}
	<div class="card">
		<a href="{{ url }}" class="card_link">
			<div class="card_body">
				<h2 class="card_title">{{ title | upper }}</h2>
			</div>
			{{ image_main }}
			<img src="{{ glide:url width="600" height="600" fit="crop"}}" alt=""  class="card_image"/>
			{{ /image_main }}
		</a>
	</div>

	{{ /collection:foto }}
</div>
