<!--<div class="company_group"> 
    <div class="grid-employe container" >
              <div class="card-employe">
                  <div class="company_title">mimbild AB c/o Studion</div>
                  <P>Hållingsgatan 15 D</p>
                  <p>506 35 Borås</p>
                  <p>Sweden</p>
                  <p>info@mimbild.se</p>
              </div>
              <div class="card-employe">
                  <div class="employe_name">Klas Svensson</div>
                  <div class="role">FOTO - FILM - CGI</div>
                  <a href="tel:+46(0)705-12 41 71">+46(0)705-12 41 71</a>
                  <div class="mail">klas@mimbild.se</div>
              </div>
              <div class="card-employe">
                  <div class="employe_name">Peter Andersson</div>
                  <div class="role">FOTO - FILM - 3D - CGI</div>
                  <a href="tel:+46(0)735-24 12 81">+46(0)735-24 12 81</a>
                  <div class="mail">peter@mimbild.se</div>
              </div>
              <div class="card-employe">
                  <div class="employe_name">Camilla Eriksson</div>
                  <div class="role">HÅR & MAKE</div>
                  <a href="tel:+46(0)709-19 77 88">+46(0)709-19 77 88</a>
                  <div class="mail">camilla@mimbild.se</div>
              </div>

      </div>
  </div> -->
  <div class="grid-columns container">
    <div class="employe_group">
        <img src="{{glide src="/assets/site/peter.jpg" width="100" height="100" }}" alt="" class=""> 
        <div class="employe">      
            <div class="employe_name">Peter Andersson</div>
            <div class="role">FOTO - FILM - 3D - CGI</div>
            <a href="tel:+46(0)735-24 12 81">+46(0)735-24 12 81</a>
            <div class="mail">peter@mimbild.se</div>
        </div>
    </div>
    <div class="employe_group">
        <img src="{{glide src="/assets/site/klas.jpg" width="100" height="100" }}" alt="" class="">
        <div class="employe">      
            <div class="employe_name">Klas Svensson</div>
            <div class="role">FOTO - FILM - CGI</div>
            <a href="tel:+46(0)705-12 41 71">+46(0)705-12 41 71</a>
            <div class="mail">klas@mimbild.se</div>
    </div>
    </div>
    <div class="employe_group">
        <img src="{{glide src="/assets/site/camilla.jpg" width="100" height="100" }}" alt="" class="">
        <div class="employe">      
            <div class="employe_name">Camilla Eriksson</div>
            <div class="role">HÅR & MAKE</div>
            <a href="tel:+46(0)709-19 77 88">+46(0)709-19 77 88</a>
            <div class="mail">camilla@mimbild.se</div>
         </div>
    </div>
  </div>
  <div class="grid-columns container">
    <div class="flow">
        <div class="company_title">mimbild AB</div>
        <P>Hållingsgatan 15 D</p>
        <p>506 35 Borås</p>
        <p>Sweden</p>
        <p>info@mimbild.se</p>

    </div>
    <div class="flow">
        <div class="company_title">mimbild AB</div>
        <P>Vallgatan 17</p>
        <p>411 16 Göteborg</p>
        <p>Sweden</p>
        <p>info@mimbild.se</p>

    </div>
    <div class="flow">
        <a href=""> <img src="/assets/site/facebook.png" width="40" height="40" alt="" class=""></a>
  </div>