<header class="nav_header">
    <div class="nav">
        <a href="/" class="logo">
            <img src="/assets/site/logga_mimbild.png" alt="" class="">
        </a>
        <nav class="main__nav">
            <ul class="nav__list">
                {{ nav from="/" include_home="false" scope="tag" }}
                <li class="nav__items"><a class="nav__link {{ if is_current or is_parent }} active {{ /if }}" href="{{ url }}">{{ title }}</a></li>
                {{ /nav }}
                <li class="nav__items"><a href="/#contact" class="nav__link">Kontakta</a></li>
            </ul>
        </nav>
    </div>
</header>