<header class="fixed">
    <div class="nav">
        <a href="/" class="logo">
            <img src="assets/site/mimbild_logo_transp.png" alt="" class="">
        </a>
        <nav class="main__nav">
            <ul class="nav__list">
                <li class="nav__items"><a href="/foto" class="nav__link">Foto</a></li>
                <li class="nav__items"><a href="/film" class="nav__link">Film</a></li>
                <li class="nav__items"><a href="/3d" class="nav__link">3d</a></li>
                <li class="nav__items"><a href="#" class="nav__link">Hår&Make</a></li>
                <li class="nav__items"><a href="#" class="nav__link">Kontakta</a></li>
            </ul>

        </nav>
    </div>
</header>