:root {
    --clr-primaary: ;
    --clr-accent: rgb(204, 185, 145);
    --clr-third: ;
    --ff-primary: 'Montserrat', sans-serif ;
    
    --ff-body: var(--ff-primaary);
    --ff-title: var(--ff-primaary);

    --fw-regular: 400;
    --fw-bold: 900;

    --fs-400: 0.875rem;
    --fs-500: 1.5rem;
    --fs-800: 2.5rem;

    --fs-body: var(--fs-400);
    --fs-subtitle: var(--fs-500);
    --fs-title: var(--fs-800);
    --fs-nav: var(--fs-400);

}

@media (min-width: 50em) {
  :root {

  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;

}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
https://www.youtube.com/watch?v=h3bTwCqX4ns
*/

html {
}

body {
    font-family: var(--ff-primary);
    background-color: #000;
}
main {
  position: relative;
}

/* footer */
.footer {
  color: white;
  margin-top: auto;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.svg {
  color: white;
}
/* Section */
.section {
  width: 100%;
  background-color: #000;
  margin-inline: auto;
  z-index: -20;
}
.grid {
  display: grid;
  isolation: isolate;
  gap: 1rem;
}
/* Container that set max width */
.container {
  --max-width: 50rem;
  width: min(100% - 2rem, var(--max-width));
  margin-inline: auto;
}
.hero-img {
  width: 100%;
  object-position: center;
  padding-top: 6em;
}
.title {
    font-size: var(--fs-title);
    font-weight: bold;
    color: white;
    line-height: 1.1;
    padding-top: 0.5em;
    padding-bottom: 0.2em;

}
.subtitle {
    font-size: var(--fs-subtitle);
    color: white;

}
.description {
    font-size: var(--fs-body);
    color: white;
    padding-top: 2em;
}

/* section kontakta */

.grid-company {
  text-align: center;  
  padding-top: 1em;
}
.card-company {
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.company_title {
  font-weight: bold;
}


.grid-employe {
  display: grid;
  isolation: isolate;
  grid-template-row: repeat(3, 1fr);
  gap: 1rem;
  padding-top: 1em;
}
.card-employe {
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

}
.employe_name {
  font-weight: bold;
}
.phone {
  color: inherit;
  text-decoration: none;
}

/* Navigation */
.nav_header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(5, 5, 5, 0.9);
  -webkit-backdrop-filter: opacity(50%);
  backdrop-filter: opacity(50%);
  z-index: 10;
  margin: 0 auto;
}
.nav {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.logo{
  width: 150px;
  margin: 0 auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

}
.main__nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav__list {
    list-style: none;
    display: flex;
}
.nav__items {
    padding: 0.5rem;

}
.nav__link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.nav__link:hover {
  color: var(--clr-accent);
}
.active {
  color: var(--clr-accent);
}
/* Foto, Film, 3D, Make Section 
https://www.youtube.com/watch?v=P6UgYq3J3Qs 
kolla för att positionera absolute
*/
.grid-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 6em;
}
.card {
  position: relative;
}
.card_link {
  text-decoration: none;
}
.card_first {
  color: white;
  display: grid;
  place-items: center;
}

.card_first_title {
  font-size: 0.8rem;
  text-align: center;
  width: 80%;
}

.card_body{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em 0 0.3em 0;
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 0% /0.3) 30%,
    hsl(0 0% 0% / 1)
  );

}
.card_title {
  color: hsl(0, 0%, 75%);
  text-align: center;
  font-size: 0.8rem;

}
.card_image {
  z-index: -1;
}
.card_image:hover {
}



/* Posts */
.post_header {
  padding-top: 5em;
  color: white;
  
}
.post_title {
  font-size: var(--fs-subtitle);
  text-align: center;
}
.post_exempt {
  font-size: var(--fs-subtitle);
}

.post_text {
  padding-top: 2em;
  padding-bottom: 1em;

}

article img {
  padding-bottom: 2em;
}
.video {
  width: 100%;
  max-width: 100%;
  padding-bottom: 2em;
}
iframe {
  width: 100%;
  max-width: 100%;
  padding-bottom: 2em;
}


.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}





@media (min-width: 50em) {
  body {
    height: 100vh;
}

  /* Navigation */
  .nav {
    display: flex;
    flex-direction: row;
    max-width: 70em;
    padding-left: 1em;
    padding-right: 1em;

  }
  .logo{
    width: 200px;
    margin-left: 0;
  }
  .main__nav {
      justify-content: end;
  }
  /* footer */
  .footer {
    color: white;
    margin-top: auto;
}
  /* Section & Backgrounds */
  .section {
    min-height: 100vh;
    background-color: transparent;
  } 

  .first-background {
    background-image: url(/assets/hero/img_4442.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }
  .second-background {
    background-image: url(/assets/hero/img_8727.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .third-background {
    background-image: url(/assets/hero/img_0874.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .forth-background {
    background-image: url(/assets/hero/img_1150.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .fifth-background {
    background-image: url(/assets/hero/kontakt.jpg);
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
  }

/* Grid & flex */
  .flex {
    display: flex;
    min-height: 100vh;
    isolation: isolate;
  }

  .grid-employe {
    display: grid;
    isolation: isolate;
    grid-template-columns: 34% 22% 22% 22%;
    gap: 1rem;
  }
  .card-company {
    text-align: left;
  }
  .card-employe {
    text-align: left;
    font-size: 0.75rem;
  }
  .address {
    text-align: left;

  }
  .hero-img:nth-of-type(1) {
    display: none;
    padding-top: 10em;
  }

  .row-title {
    margin: auto;
    padding: 2em;
    background-color: rgba(5, 5, 5, 0.5);
    -webkit-backdrop-filter: opacity(20%);
    backdrop-filter: opacity(20%);
  } 
  .description {
    padding-bottom: 0;
  }
  /* Foto, Film, 3D, Make Section */
  .grid-card {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4em;

  }
  .card_title {
    font-size: 1rem;
  }
  .card_first_title {
    font-size: 1.2rem;
    text-align: center;
    width: 90%;
  }

}

@media (min-width: 1200px) {
  
  .card_first_title {
    font-size: 1.5rem;
    text-align: center;
    width: 90%;
  }
}

@media (min-width: 1800px) {
  /* Foto, Film, 3D, Make Section */
  .grid-card {
    grid-template-columns: repeat(4, 1fr);
  }
}


 @layer utilities {
  @keyframes fadeInUp {
      0% {
          opacity: 0;
          transform: translateY(50%);
      }
      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }
  .fadeInUp {
      animation: fadeInUp 1s;
  }
  @keyframes scale {
      0% {
          opacity: 0;
          transform: scale(0.5);
      }
      100% {
          opacity: 1;
          transform: scale(1);
      }
  }
  .scale {
      animation: scale 1s;
  }

}


