<div class="grid-card">
	<div class="card_first">
			<h1 class="card_first_title" >HÅR & MAKE</h1>
			<p class="card_first_subtitle">Vi löser vi allt från hår/make vid modefotograferingar till vfx-smink och patinering av kläder och accessoarer.
				Peruk, löshår, skägg, tatueringar eller blödande sår - inga problem!</p>

	</div>
	{{ collection:make }}
	<div class="card">
		
		
			{{ image_main }}
			<img src="{{ glide:url width="600" height="600" fit="crop"}}" alt="" loading="lazy" class="card_image"/>
			{{ /image_main }}
		
	</div>

	{{ /collection:make }}
</div>
